body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden !important;
    font-size: 16px;
    color: #32334b;
    background-color: #f9fafe !important;
  }
  
  .font-primary {
    font-family: "Inter", sans-serif;
  }
  
  .section {
    padding: 70px 0 90px 0;
    position: relative;
    @media (max-width: 768px) {
      padding: 60px 0;
    }
  }
  .responsive-height {
    align-items: stretch;
    display: flex;
   
  }

  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-weight: 700;
  }
  
  ::selection {
    background: rgba(#06afff, 0.9);
    color: #ffff;
  }
  .btn-primary {
    background-color: blueviolet !important;
}
  a {
    text-decoration: none !important;
  }
  
  p {
    line-height: 1.6;
  }
  
  .text-underline {
    text-decoration: underline !important;
  }
  
  
  .font-size-16 {
    font-size: 16px !important;
  }
  .font-size-18 {
    font-size: 18px !important;
  }
  .font-size-20 {
    font-size: 20px !important;
  }
  .font-size-22 {
    font-size: 22px !important;
  }
  .font-size-24 {
    font-size: 24px !important;
  }
  .font-size-28 {
    font-size: 28px !important;
  }
  

  .font-weight-400 {
    font-weight: 400 !important;
  }
  .font-weight-500 {
    font-weight: 500 !important;
  }
  .font-weight-600 {
    font-weight: 600 !important;
  }
  .font-weight-700 {
    font-weight: 700 !important;
  }

  
  .line-height-20 {
    line-height: 20px;
  }
  .line-height-22 {
    line-height: 22px;
  }
  .line-height-24 {
    line-height: 24px;
  }
  .line-height-26 {
    line-height: 26px;
  }
